body {
    font: 16px/20px arial, sans-serif;
    background-color: #3333;
    background-image: url(oriental-tiles.png);
}

.container {
    width: 700px;
    margin: auto;
    background-color: #fff;
}


.header {
    padding: 20px;
    padding-bottom: 10px;
}

.header .judul {
    font-size: 30px;
    font-style: italic;
    font-weight: bolder;
    margin-left: 12px;
}

.header ul li {
    display: inline-block;
    margin-top: 20px;
    margin-right: 20px;
}

.header a {
    text-decoration: none;
    color: sandybrown;
    padding: 3px;
}

.header a:hover {
    background-color: red;
    color: pink;
}

.menn {
    height: 280px;
    background-image: url(menn.png.jpg);
    background-size: cover;
    background-position: 0 -60px;
    border-top: 5px solid salmon;
    border-bottom: 5px solid orangered;
}


.content {
    padding: 20px;
}

.content .penulis-1 a {
    color: sandybrown;
    text-decoration: none;
}

content h2 {
    font-size: 20px;
    font-weight: bold;
}

.content .penulis {
    font-size: 15px;
    margin-top: 5px;
}
.content p {
    margin-bottom: 20px;
    font-size: 15;
}

.footer {
    background-color: black;
    padding: 18px;
}

.footer .copy {
    color: blanchedalmond;
    text-align: center;
    font-size: 12px;
}