body {
    background-color: #2b2d42;
}

h1 {
    color: #edf2f4;
    top: 100px;
    text-align: center;
    position: relative;
}

h1 span {
    color: #b3bbc7;

}

.container {
    border-radius: 5px;
    background-color: #8d99ae;
    padding: 40px;
    display: flex;
    justify-content: center;
    margin: 140px auto 0 auto;
    widows: 70px;
    box-shadow: 10px 10px #001219;

}

form {
    display: flex;
    justify-content: center;
    flex-direction: column;

}

form textarea {
    border-radius: 4px;
    box-shadow: 0.28rem 0.28rem #001219;
    padding: 8px;
    bottom: none;

}

form textarea{
    outline: none;
    transform: translate(0.125rem, 0.125rem);
    box-shadow: 3px 3px #001219;
}

form button:active {
    transform: translate(0.125rem, 0.125rem);
    box-shadow: 0.125rem 0.125rem #001219;
}