html {
    margin: 0;
    padding: 0;
}



.container-navbar {
    background-color: aqua;
    width: 100%;
    height: 100%;
    
}

.ul-navbar {
    display: flex;
    height: 100px;
    justify-content: center;
    align-items: center;
}
 .li-navbar {
    border: 1px solid red;
    background-color: pink;
    list-style-type: none;
    padding: 20px;
    margin: 5px;
    color: red;
    height: 100vh;
 }

 .container-content{
    background-color: burlywood;
    display: flex;
    justify-content: center;
    align-items: center;
 }

 .img-content {
    width: 30%;
    height: 30%;
 }

 .container-footer {
    background-color: chartreuse;
    display: flex;
    justify-content: center;
    align-items: center;
 }

 .h1-foooter {
    font-size: 30px;
 }
